/* live */
.ecocart-checker:after{content:'';position:absolute;display:none}
.ecocart-block input:checked ~ .ecocart-checker:after{display:block}
.ecocart-block .ecocart-checker:after{left:6px;top:0;width:5px;height:10px;border:solid #00CB8F;border-width:0 4px 4px 0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.checked{max-height: 1000px !important;}.descr{display: none;}.visible{display: block !important;}.background{background: #fff !important;box-shadow: 1px 1px 8px #00c364;}.show-btn{background-image: url(ask.svg); background: none;}